body{
    margin:0px !important;
}
/* rating-list */
.stars-wrap {
    display: inline-block;
    vertical-align: middle; }

.list-rating {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    height: 14px;
    line-height: 1;
    white-space: nowrap;
    clear: both; }
.list-rating i {
    font-size: 14px;
    color: #ccc;
    display: inline; }
.list-rating li {
    display: block;
    text-overflow: clip;
    white-space: nowrap;
    z-index: 1; }
.list-rating li.stars-active {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }
.list-rating li.stars-active i {
    color: orange; }


.mainimg{
    border: 1px solid #3c8dbc !important;
}

#datagridvie table thead th{
    padding-top: 30px;
    padding-bottom: 30px;
}

.blacklist {
    background-color: #000 !important;
}

.fiolet{
    background-color: rgb(90, 55, 239) !important;
}

.siniy{
    background-color: #004DFF !important;
}



.vcenter {
    vertical-align: middle !important;
}
.schyotfakrekvizit{
    padding: 10px 5px;
    display: block;
    width: 100%;
    /* height: 200px; */
    border: 1px solid #000;
}
.schyotfakrekvizit p{
    margin-bottom: 0px !important;
}
#schyotfaktura table.table-bordered{
    border:1px solid #000000;
    margin-top:20px;
}
#schyotfaktura table.table-bordered > thead > tr > th{
    border:1px solid #000000;
}
#schyotfaktura table.table-bordered > tbody > tr > td{
    border:1px solid #000000;
}
#schyotfaktura td {
    padding: 0px 5px !important;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.m_title:first-letter {
    font-size: 500px;
}